.resultsPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resultsHeader {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 150, 153, 1) 0%,
    rgba(3, 189, 127, 1) 100%
  );
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: 'Oxygen', sans-serif;
}

.resultsHeader h1 {
  font-weight: 700;
  color: #fff;
  margin-left: 40px;
  font-size: 24px;
}

.resultsHeader p {
  font-weight: 700;
  color: #fff;
  margin-right: 40px;
  font-size: 20px;
}

.closeButton {
  position: absolute;
  top: 100px;
  right: 60px;
}

.closeButton i {
  color: rgb(81, 81, 81);
  font-size: 1.6rem;
  opacity: 100%;
}

.filterButtons {
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
}

.filterButtons input {
  margin-right: 12px;
  font-size: 1rem;
}

.filterButton {
  border: none;
  background-color: #fff;
  font-weight: 400;
  color: #607d8b;
  cursor: pointer;
}

.filterButton:focus {
  outline: none;
}

.activeButton {
  border: none;
  background-color: #fff;
  font-weight: 400;
  cursor: pointer;
  color: #03b384;
}

.activeButton:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .resultsHeader {
    flex-direction: column;
    justify-content: center;
    height: 96px;
  }

  .resultsHeader h1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .resultsHeader p {
    margin-right: 0;
    font-size: 16px;
  }

  .closeButton {
    top: 120px;
  }
}

@media (max-width: 768px) {
  .filterButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .resultsHeader p {
    margin-right: 0;
    font-size: 12px;
  }
}
